@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

/* em HTML é id = em CSS é #
   em HTML é class = em CSS é ponto 
*/

body{
    background-color: rgb(187, 255, 223);
    font-family: 'Pacifico', cursive;
}

h1#principal{
    text-align: center;
    background-color: rgb(7, 156, 27);
    color: white;
}

h1{
    color: rgb(7, 156, 27);
}

h2{
    color: rgb(0, 214, 29);
}
p{
    font-size: 1.25em;
    text-align: justify;
}